---
layout: default
title: Community Calendar
permalink: /calendar/
---

# Community Calendar

{% for meetup in site.data.meetups %}
### {{ meetup.group }} Meetup

- **When:** {{ meetup.schedule.day | capitalize }} of each month at {{ meetup.schedule.time }}
- **Where:** 
  {% if meetup.location.type == "hybrid" %}
    Hybrid (In-person at {{ meetup.location.in_person }} & online via [link]({{ meetup.location.online }}))
  {% elsif meetup.location.type == "in-person" %}
    In-person at {{ meetup.location.in_person }}
  {% elsif meetup.location.type == "online" %}
    Online via [link]({{ meetup.location.online }})
  {% endif %}
- **Description:** {{ meetup.description }}

---
{% endfor %} 