button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a:focus,
button:focus {
    outline: thin dotted var(--color-border);
    outline: 5px auto var(--color-border);
    outline-offset: -2px;
}
* {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    background-color: var(--color-background);
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}
@media (min-width: 64em) {
    html {
        font-size: 20px;
    }
}
@media (min-width: 80em) {
    html {
        font-size: 22px;
    }
}
body {
    margin: 0;
    background: var(--color-background);
}
::-moz-selection {
    color: var(--color-foreground);
    background: var(--color-border);
}
::selection {
    color: var(--color-foreground);
    background: var(--color-border);
}
article,
footer,
main,
nav,
section {
    display: block;
}
a {
    color: var(--color-foreground);
}
a:active,
a:hover {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
button,
input {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
button,
input {
    line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
label {
    cursor: pointer;
}
input[type="search"] {
    box-sizing: border-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
html {
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    padding: 0;
    color: var(--color-foreground);
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 0.5em;
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-weight: 700;
}
h1 {
    margin-top: 0;
    font-size: 1.563em;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1.125em;
}
h4 {
    font-size: 1.0625em;
}
h5 {
    font-size: 1.03125em;
}
h6 {
    font-size: 1em;
}
p {
    margin-bottom: 1.3em;
}
p,
ul {
    orphans: 3;
    widows: 3;
}
a:visited {
    color: var(--color-foreground);
}
a:hover {
    color: var(--color-foreground);
    outline: 0;
}
code {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}
ul li {
    margin-bottom: 0.5em;
}
li ul {
    margin-top: 0.5em;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
}
nav ul li {
    margin-bottom: 0;
}
nav li ul {
    margin-top: 0;
}
.btn,
a,
b,
form button,
h1,
h2,
i,
img,
input,
input[type="submit"],
p,
span,
strong {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
form {
    margin-bottom: 5px;
    padding: 1em;
    background-color: var(--color-background);
}
form p {
    margin-bottom: 2.5px;
}
form ul {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
}
button,
input,
label {
    vertical-align: baseline;
}
button,
input {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}
label {
    display: block;
    margin-bottom: 0.25em;
    color: var(--color-foreground);
    cursor: pointer;
}
label input {
    display: block;
}
input {
    display: inline-block;
    width: 100%;
    padding: 0.25em;
    margin-bottom: 0.5em;
    color: var(--color-foreground);
    background-color: var(--color-background);
    border: var(--color-border);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 3px 0;
    line-height: normal;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="image"] {
    border: 0;
}
input[type="file"] {
    width: auto;
    padding: initial;
    line-height: initial;
    border: initial;
    background-color: transparent;
    background-color: initial;
    box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
    width: auto;
    height: auto;
    cursor: pointer;
}
input[type="hidden"] {
    display: none;
}
.form {
    position: relative;
}
input[disabled],
input[readonly] {
    opacity: 0.5;
    cursor: not-allowed;
}
input:focus {
    border-color: var(--color-border);
    outline: 0;
    box-shadow: inset 0 1px 3px rgba(61, 65, 68, 0.06), 0 0 5px rgba(111, 119, 125, 0.7);
}
input[type="checkbox"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus {
    box-shadow: none;
}
.form-search input {
    display: inline-block;
    margin-bottom: 0;
}
.form-search label {
    display: inline-block;
}
.form::before {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}
@-webkit-keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.btn {
    display: inline-block;
    margin-bottom: 0.25em;
    padding: 0.5em 1em;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
}
.btn--primary {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
.btn--primary:visited {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
.btn--primary:hover {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
.btn--inverse {
    background-color: var(--color-background);
    color: var(--color-foreground);
    border: 1px solid var(--color-border);
}
.btn--inverse:visited {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
.btn--inverse:hover {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
.btn--bluesky {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
.btn--bluesky:visited {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
.btn--bluesky:hover {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
.masthead {
    position: relative;
    border-bottom: 1px solid var(--color-border);
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    z-index: 20;
}
.masthead__inner-wrap {
    clear: both;
    margin-inline: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}
.masthead__inner-wrap::after {
    clear: both;
    content: "";
    display: table;
}
@media (min-width: 80em) {
    .masthead__inner-wrap {
        max-width: 1280px;
    }
}
.masthead__inner-wrap nav {
    z-index: 10;
}
.masthead__inner-wrap a {
    text-decoration: none;
}
.site-logo img {
    max-height: 2rem;
}
.site-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: 700;
}
.site-subtitle {
    display: block;
    font-size: 0.625em;
}
.masthead__menu {
    float: inline-start;
    margin-inline: 0;
    width: 100%;
    clear: both;
}
.masthead__menu .site-nav {
    margin-inline-start: 0;
}
@media (min-width: 37.5em) {
    .masthead__menu .site-nav {
        float: inline-end;
    }
}
.masthead__menu ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
}
.masthead__menu-item {
    display: block;
    list-style-type: none;
    white-space: nowrap;
}
.greedy-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 2em;
    background: var(--color-background);
}
.greedy-nav a {
    display: block;
    margin: 0 1rem;
    color: var(--color-foreground);
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
}
.greedy-nav a:hover {
    color: var(--color-foreground);
}
.greedy-nav a.site-logo {
    margin-inline-start: 0;
    margin-inline-end: 0.5rem;
}
.greedy-nav a.site-title {
    margin-inline-start: 0;
}
.greedy-nav img {
    -webkit-transition: none;
    transition: none;
}
.greedy-nav__toggle {
    -ms-flex-item-align: center;
    align-self: center;
    height: 2rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}
.greedy-nav .visible-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.greedy-nav .visible-links li {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.greedy-nav .visible-links a {
    position: relative;
}
.greedy-nav .visible-links a:before {
    content: "";
    position: absolute;
    inset-inline-start: 0;
    bottom: 0;
    height: 4px;
    background: var(--color-background);
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0);
}
.greedy-nav .visible-links a:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.greedy-nav .hidden-links {
    position: absolute;
    top: 100%;
    inset-inline-end: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background: var(--color-background);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.greedy-nav .hidden-links.hidden {
    display: none;
}
.greedy-nav .hidden-links a {
    margin: 0;
    padding: 10px 20px;
    font-size: 1em;
}
.greedy-nav .hidden-links a:hover {
    color: var(--color-foreground);
    background: var(--color-background);
}
.greedy-nav .hidden-links::before {
    content: "";
    position: absolute;
    top: -11px;
    inset-inline-end: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: var(--color-border) transparent;
    display: block;
    z-index: 0;
}
.greedy-nav .hidden-links::after {
    content: "";
    position: absolute;
    top: -10px;
    inset-inline-end: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: var(--color-border) transparent;
    display: block;
    z-index: 1;
}
.greedy-nav .hidden-links li {
    display: block;
    border-bottom: 1px solid var(--color-border);
}
.greedy-nav .hidden-links li:last-child {
    border-bottom: none;
}
.no-js .greedy-nav .visible-links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: visible;
}
.nav__title {
    margin: 0;
    padding: 0.5rem 0.75rem;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
}
.page__footer {
    clear: both;
    float: inline-start;
    margin-inline: 0;
    width: 100%;
    margin-top: 3em;
    color: var(--color-foreground);
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    background-color: var(--color-background);
}
.page__footer::after {
    clear: both;
    content: "";
    display: table;
}
.page__footer footer {
    clear: both;
    margin-inline: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;
}
.page__footer footer::after {
    clear: both;
    content: "";
    display: table;
}
@media (min-width: 80em) {
    .page__footer footer {
        max-width: 1280px;
    }
}
.page__footer a {
    color: inherit;
    text-decoration: none;
}
.page__footer a:hover {
    text-decoration: underline;
}
.page__footer .fab,
.page__footer .fas {
    color: var(--color-foreground);
}
.page__footer-copyright {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.6875em;
}
.page__footer-follow ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.page__footer-follow li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
    text-transform: uppercase;
}
.page__footer-follow li + li::before {
    content: "";
    padding-inline-end: 5px;
}
.page__footer-follow a {
    padding-inline-end: 10px;
    font-weight: 700;
}
.page__footer-follow .social-icons a {
    white-space: nowrap;
}
.search__toggle {
    margin-inline: 1rem;
    height: 2rem;
    border: 0;
    outline: 0;
    color: var(--color-foreground);
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.search__toggle:hover {
    color: var(--color-foreground);
}
.search-content {
    display: none;
    visibility: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
}
.search-content__inner-wrap {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1em;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
@media (min-width: 80em) {
    .search-content__inner-wrap {
        max-width: 1280px;
    }
}
.search-content__form {
    background-color: transparent;
}
.search-content .search-input {
    display: block;
    margin-bottom: 0;
    padding: 0;
    border: none;
    outline: 0;
    box-shadow: none;
    background-color: transparent;
    font-size: 1.563em;
}
@media (min-width: 64em) {
    .search-content .search-input {
        font-size: 1.953em;
    }
}
@media (min-width: 80em) {
    .search-content .search-input {
        font-size: 2.441em;
    }
}
.search-content.is--visible {
    display: block;
    visibility: visible;
}
.search-content.is--visible::after {
    content: "";
    display: block;
}
.search-content .archive__item {
    margin-bottom: 2em;
}
@media (min-width: 64em) {
    .search-content .archive__item {
        width: 75%;
    }
}
@media (min-width: 80em) {
    .search-content .archive__item {
        width: 50%;
    }
}
.search-content .archive__item-title {
    margin-top: 0;
}
.search-content .archive__item-excerpt {
    margin-bottom: 0;
}
.hidden,
.is--hidden {
    display: none;
    visibility: hidden;
}
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span,
.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    width: 1px !important;
    border: 0 !important;
    overflow: hidden;
}
body:hover .visually-hidden a,
body:hover .visually-hidden button,
body:hover .visually-hidden input {
    display: none !important;
}
.screen-reader-shortcut:focus,
.screen-reader-text:focus {
    clip: auto !important;
    height: auto !important;
    width: auto !important;
    display: block;
    font-size: 1em;
    font-weight: 700;
    padding: 15px 23px 14px;
    background: var(--color-background);
    z-index: 100000;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}
.skip-link {
    position: fixed;
    z-index: 20;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    white-space: nowrap;
}
.skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}
.text-start {
    text-align: start;
}
.text-end {
    text-align: end;
}
.wrapper {
    margin-inline: auto;
    width: 100%;
}
.social-icons .fab,
.social-icons .fas {
    color: var(--color-foreground);
}
.social-icons .fa-github,
.social-icons .fa-github-alt,
.social-icons .fa-github-square {
    color: var(--color-foreground);
}
.social-icons .fa-rss,
.social-icons .fa-rss-square {
    color: var(--color-foreground);
}
.navicon {
    position: relative;
    width: 1.5rem;
    height: 0.25rem;
    background: var(--color-background);
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.navicon::after,
.navicon::before {
    content: "";
    position: absolute;
    inset-inline-start: 0;
    width: 1.5rem;
    height: 0.25rem;
    background: var(--color-background);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.navicon:before {
    top: -0.5rem;
}
.navicon:after {
    bottom: -0.5rem;
}
.close .navicon {
    background: 0 0;
}
.close .navicon:after,
.close .navicon:before {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 1.5rem;
}
.close .navicon:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}
.close .navicon:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}
@supports (pointer-events: none) {
    .greedy-nav__toggle:before {
        content: "";
        position: fixed;
        top: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: var(--color-background);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        pointer-events: none;
    }
}
.greedy-nav__toggle.close:before {
    opacity: 0.9;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    pointer-events: auto;
}
.greedy-nav__toggle:hover .navicon,
.greedy-nav__toggle:hover .navicon:after,
.greedy-nav__toggle:hover .navicon:before {
    background: var(--color-background);
}
.greedy-nav__toggle:hover.close .navicon {
    background: 0 0;
}
.modal {
    display: none;
    position: fixed;
    width: 300px;
    top: 50%;
    inset-inline-start: 50%;
    margin-inline-start: -150px;
    margin-top: -150px;
    min-height: 0;
    z-index: 9999;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}
.modal__title {
    margin: 0;
    padding: 0.5em 1em;
}
:-webkit-full-screen-ancestor .masthead,
:-webkit-full-screen-ancestor .page__footer {
    position: static;
}
#main {
    clear: both;
    margin-inline: auto;
    padding-inline: 1em;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    max-width: 100%;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
#main::after {
    clear: both;
    content: "";
    display: table;
}
@media (min-width: 80em) {
    #main {
        max-width: 1280px;
    }
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.initial-content,
.search-content {
    flex: 1 0 auto;
}
@media (min-width: 64em) {
    .page {
        float: inline-end;
        width: calc(100% - 200px);
        padding-inline-end: 200px;
    }
}
@media (min-width: 80em) {
    .page {
        width: calc(100% - 300px);
        padding-inline-end: 300px;
    }
}
.page .page__inner-wrap {
    float: inline-start;
    margin-top: 1em;
    margin-inline: 0;
    width: 100%;
    clear: both;
}
.page .page__inner-wrap .page__content,
.page .page__inner-wrap .page__meta {
    position: relative;
    float: inline-start;
    margin-inline: 0;
    width: 100%;
    clear: both;
}
.page__title {
    margin-top: 0;
    line-height: 1;
}
.page__title a {
    color: var(--color-foreground);
    text-decoration: none;
}
.page__title + .page__meta {
    margin-top: -0.5em;
}
.page__lead {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 1.25em;
}
.page__content h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--color-border);
}
.page__content li,
.page__content p {
    font-size: 1em;
}
.page__content p {
    margin: 0 0 1.3em;
}
.page__content a:not(.btn):hover {
    text-decoration: underline;
}
.page__content a:not(.btn):hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.page__content :not(pre) > code {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 0.8em;
    background: var(--color-background);
    border-radius: 4px;
}
.page__content :not(pre) > code::after,
.page__content :not(pre) > code::before {
    letter-spacing: -0.2em;
    content: "\00a0";
}
.page__hero {
    position: relative;
    margin-bottom: 2em;
    clear: both;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.page__hero::after {
    clear: both;
    content: "";
    display: table;
}
.page__hero--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    clear: both;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.page__hero--overlay::after {
    clear: both;
    content: "";
    display: table;
}
.page__hero--overlay a {
    color: var(--color-hero);
}
.page__hero--overlay .wrapper {
    padding-inline: 1em;
}
@media (min-width: 80em) {
    .page__hero--overlay .wrapper {
        max-width: 1280px;
    }
}
.page__hero--overlay .btn,
.page__hero--overlay .page__lead,
.page__hero--overlay .page__meta,
.page__hero--overlay .page__title {
    color: var(--color-hero);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.page__hero--overlay .page__lead {
    max-width: 768px;
}
.page__hero--overlay .page__title {
    font-size: 1.953em;
}
@media (min-width: 37.5em) {
    .page__hero--overlay .page__title {
        font-size: 2.441em;
    }
}
.page__hero-image {
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}
.page__meta {
    margin-top: 2em;
    color: var(--color-foreground);
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
}
.page__meta p {
    margin: 0;
}
.page__meta a {
    color: inherit;
}
.page__meta-title {
    margin-bottom: 10px;
    font-size: 0.75em;
    text-transform: uppercase;
}
.archive {
    margin-top: 1em;
    margin-bottom: 2em;
}
@media (min-width: 64em) {
    .archive {
        float: inline-end;
        width: calc(100% - 200px);
        padding-inline-end: 200px;
    }
}
@media (min-width: 80em) {
    .archive {
        width: calc(100% - 300px);
        padding-inline-end: 300px;
    }
}
.archive__item {
    position: relative;
}
.archive__item a {
    position: relative;
    z-index: 10;
}
.archive__item a[rel="permalink"] {
    position: static;
}
.archive__subtitle {
    margin: 1.414em 0 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    color: var(--color-foreground);
    border-bottom: 1px solid var(--color-border);
}
.archive__item-title {
    margin-bottom: 0.25em;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height: initial;
    overflow: hidden;
    text-overflow: ellipsis;
}
.archive__item-title a[rel="permalink"]::before {
    content: "";
    position: absolute;
    inset: 0;
}
.archive__item-title a + a {
    opacity: 0.5;
}
.page__content .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
}
.archive__item-excerpt {
    margin-top: 0;
    font-size: 0.75em;
}
.archive__item-excerpt + p {
    text-indent: 0;
}
.archive__item-excerpt a {
    position: relative;
}
.feature__wrapper {
    clear: both;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--color-border);
}
.feature__wrapper::after {
    clear: both;
    content: "";
    display: table;
}
.feature__wrapper .archive__item-title {
    margin-bottom: 0;
}
.feature__item {
    position: relative;
    margin-bottom: 2em;
    font-size: 1.125em;
}
@media (min-width: 37.5em) {
    .feature__item {
        float: inline-start;
        margin-bottom: 0;
        width: 32.2033898305%;
    }
    .feature__item:nth-child(3n + 1) {
        clear: both;
        margin-inline-start: 0;
    }
    .feature__item:nth-child(3n + 2) {
        clear: none;
        margin-inline-start: 1.6949152542%;
    }
    .feature__item:nth-child(3n + 3) {
        clear: none;
        margin-inline-start: 1.6949152542%;
    }
}
.feature__item .archive__item-body {
    padding-inline: 1.6949152542%;
}
.feature__item a.btn::before {
    content: "";
    position: absolute;
    inset: 0;
}
.archive .feature__wrapper .archive__item-title {
    margin-top: 0.25em;
    font-size: 1em;
}
.archive .feature__item {
    font-size: 1em;
}
.author__content {
    display: table-cell;
    vertical-align: top;
    padding-inline: 15px 25px;
    line-height: 1;
}
@media (min-width: 64em) {
    .author__content {
        display: block;
        width: 100%;
        padding-inline: 0;
    }
}
.author__content a {
    color: inherit;
    text-decoration: none;
}
.author__name {
    margin: 0;
}
@media (min-width: 64em) {
    .author__name {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@supports (pointer-events: none) {
    .author__urls-wrapper button:before {
        content: "";
        position: fixed;
        top: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}
@media print {
    [hidden] {
        display: none;
    }
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        margin: 0;
        padding: 0;
        min-height: auto !important;
        font-size: 16px;
    }
    body {
        margin: 0 auto;
        background: var(--color-background) !important;
        color: var(--color-foreground) !important;
        font-size: 1rem;
        line-height: 1.5;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-foreground);
        line-height: 1.2;
        margin-bottom: 0.75rem;
        margin-top: 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
    a,
    a:visited {
        color: var(--color-foreground);
        text-decoration: underline;
        word-wrap: break-word;
    }
    img {
        border: 0;
        display: block;
        max-width: 100% !important;
        vertical-align: middle;
    }
    a,
    code,
    li,
    ul {
        page-break-inside: avoid;
    }
    a,
    h2,
    h3,
    h4,
    p {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }
    h1 + p,
    h2 + p,
    h3 + p {
        page-break-before: avoid;
    }
    img {
        page-break-after: auto;
        page-break-before: auto;
        page-break-inside: avoid;
    }
    a[href^='ftp://']:after,a[href^='http://']:after,a[href^='https://']:after
    {
        content: " (" attr(href) ")";
        font-size: 80%;
    }
    #main {
        max-width: 100%;
    }
    .page {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .author__content,
    .masthead,
    .page__footer {
        display: none !important;
        height: 1px !important;
    }
}

